.kg-canvas {
    display: grid;
}
.kg-canvas .kg-width-wide {
    margin-left: 50%!important;
    max-width: min(var(--page-width),calc(100vw - 3rem))!important;
    transform: translateX(-50%)!important;
    width: min(var(--page-width),calc(100vw - 3rem))!important;
}
.article-stickypost .kg-canvas .kg-width-wide {
    margin-left: 0!important;
    max-width: 100% !important;
    transform: unset !important;
    width: 100% !important;
}
.kg-flex {
    display: flex;
}

.kg-flex-4col {
    gap: 24px;
    flex: 1 1 calc(25% - 24px);
}

.kg-grid {
    display: grid;
    column-gap: var(--card-gap);
    row-gap: var(--card-gap);
    align-items: start;
}

.kg-grid.tiny {
    column-gap: .1rem;
    row-gap: .1rem;
}

.kg-grid-2col {
    grid-template-columns: 1fr 1fr;
}

.kg-grid-3col {
    grid-template-columns: 1fr 1fr 1fr;
}

.kg-grid-4col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 991px) {
    .kg-grid-4col {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575px) {
    .kg-grid-2col,
    .kg-grid-3col,
    .kg-grid-4col {
        grid-template-columns: 1fr;
    } 
}
/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

/* Default vertical spacing */
.gh-content > * + * {
    margin-top: 2rem;
    margin-bottom: 0;
}

.gh-content > .kg-width-full:is(.kg-signup-card, .kg-header-card) {
    margin-top: 0;
}

.gh-content > * {
    z-index: 1;
}

/* [id] represents all headings h1-h6, reset all margins */
.gh-content > [id] {
    margin: 0;
}


/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.gh-content > [id]:not(:first-child) {
    margin-top: 2.6rem;
}

/* Add a small margin between a heading and anything after it */
.gh-content > [id] + * {
    margin-top: 2rem;
}

.gh-content > [id] + p {
    margin-top: 1.2rem;
}

.gh-content > [id] + .kg-card  {
    margin-top: 2rem;
}

/* A larger margin before/after HRs and blockquotes */
.gh-content > hr,
.gh-content > blockquote {
    position: relative;
    margin-top: 4rem;
}

.gh-content > hr + *,
.gh-content > blockquote + * {
    margin-top: 4rem;
}

.kg-gallery-image {
    cursor: pointer;
}

.kg-image {
    margin-right: auto;
    margin-left: auto;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-callout-card-accent a {
    text-decoration: underline;
}

.gh-content > hr {
    border-color: var(--color-border);
    display: block;
    width: 100%;
}

.gh-content > hr::after {
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: var(--color-heading);
	margin: 0 46%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='3px' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
}


/* Cards */
.gh-content :not(.kg-card):not([id]) + .kg-card {
    margin-top: 3rem;
}

.gh-content .kg-card + :not(.kg-card):not([id]) {
    margin-top: 4rem;
}

.gh-content :not(.kg-card):not([id]) + .kg-card:not(.kg-width-wide):not(.kg-width-full) {
    margin-top: 3rem;
}

.gh-content .kg-card:not(.kg-width-wide):not(.kg-width-full) + :not(.kg-card):not([id]) {
    margin-top: 3rem;
}
.gh-content > .kg-card+[id] {
    --content-spacing-multiplier: 0.5;
}

/* Now the content typography styles */
.gh-content h1,
.gh-content h2:not(h4, .card-title) {
    font-size: 2.2rem;
}

.gh-content h3 {
    font-size: 1.8rem;
}

.gh-content h4 {
    font-size: 1.875rem;
}

.gh-content h5 {
    font-size: 1.5rem;
}

.gh-content h6 {
    font-size: 1.2rem;
}

.gh-content h6+[id] {
    margin-top: 1.6rem !important;
}


.gh-content a:not(.button),
.kg-product-card-title a span,
.kg-product-card-description a span {
    word-break: break-word;
    color: inherit;
    transition: text-decoration 300ms var(--animation-base);
    text-decoration-line: underline;
    transition: all .1s var(--animation-base);
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.1em;
    text-decoration-color: hsl(from currentColor h s l / .2);
}

.gh-content a:not(.button) {
    color: var(--brand-color);
    text-decoration-color: hsl(from var(--brand-color) h s l / .6);
}

.gh-content a:not(.button):hover,
.kg-product-card-title a:hover span,
.kg-product-card-description a:hover span {
    text-decoration-thickness: 0.08em;
    color: var(--brand-color);
    text-decoration-color: hsl(from currentColor h s l / .8);
}

.gh-content a[class]:hover {
    opacity: 1;
}


.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul,
.gh-content .kg-product-card .kg-product-card-description > ol,
.gh-content .kg-product-card .kg-product-card-description > ul {
    letter-spacing: 0;
}

.gh-content .kg-callout-card .kg-callout-text,
.gh-content .kg-toggle-card .kg-toggle-content > p,
.gh-content .kg-toggle-card .kg-toggle-content > ol,
.gh-content .kg-toggle-card .kg-toggle-content > ul {
    font-size: 0.75rem;
}

.gh-content .kg-product-card .kg-product-card-description > p {
    font-size: 0.75rem;
    letter-spacing: 0;
}


.gh-content > ul,
.gh-content > ol,
.gh-content > dl {
    padding-left: 2.4rem;
}

.gh-content li + li {
    margin-top: 1.2rem;
}
.article-info> div:only-child {
    justify-content: flex-end;
}
.gh-post-upgrade-cta-content {
    background: var(--color-alternate)!important;
    border-radius: 20px!important;
    color: var(--color-text)!important;
    min-height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gh-post-upgrade-cta-content h2{
    font-size: 2rem!important;
    color: var(--color-heading)!important;
}
.gh-post-upgrade-cta a.gh-btn {
    background: var(--color-accent)!important;
    color: var(--color-accent-text)!important;
    font-size: 14px!important;
    font-family: var(--font-body)!important;
    font-weight: 500!important;
    border-radius: 10px!important;
}
/* footnote */
.footnote { 
    margin-left: 0.25rem; 
    margin-right: 0.5rem;
}
.footnote a { 
    text-decoration: none;
    color: var(--brand-color);
    font-weight: 400;
    font-size: 0.9em;
}

.footnote-list {
    padding: 2.4rem 0 4.8rem 2.4rem;
    font-size: 0.9em;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    gap: 0;
}

.footnote-list li {
    padding-top: 1.6rem;
    line-height: 1.5;
}
.article-post-slider:has(.article-img) p, .article-post-slider:has(.article-img) h2, .article-post-slider:has(.article-img) h4,.article-post-slider:has(.article-img) h6,
.post-gallery-image:not(.no-image) .post-gallery-content p, .post-gallery-image:not(.no-image) .post-gallery-content h2, .post-gallery-image:not(.no-image) .post-gallery-content h4, .post-gallery-image:not(.no-image) .post-gallery-content h6 {
    color: white!important;
}
.post-gallery-content .aricle-heading-wrapper {
    border-color: transparent!important;
    padding-bottom: 0!important;
}
.post-header:has(.article-stickypost) {
    margin-bottom: 0!important;
}
.article-stickypost .aricle-heading-wrapper .post-share-links {
    display: none;
}
 .split-post .aricle-heading-wrapper {
    max-width: 95%;
}
.article-post-slider {
    margin-top:calc(var(--header-height) * -1);
}
.article-post-slider .aricle-heading-wrapper {
    padding-top: calc(var(--header-height) + 20px);
}
.blog-article:has(.article-post-slider){
    padding-top: 0;
}
.full-width-image-post .article-image {
    border-radius: 0 !important;
}
.swiper-pagination.post-slider-pagination {
    inset: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.swiper-pagination.post-slider-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border-radius: 10px;
    background: #fff;
    opacity: 1;
    transition: .3s ease;
}
.swiper-pagination.post-slider-pagination .swiper-pagination-bullet-active {
    height: 28px;
}
/* post gallery design css  */
.post-gallery-images {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: minmax(220px, auto);
    gap: 5px;
}
.post-gallery-image {
    grid-area: span 1 / span 1;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--color-alternate);
    overflow: hidden;
    border-radius: 10px;
}
.post-gallery-image .post-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}

.post-gallery-image:nth-child(1) {
    grid-area: span 2 / span 7;
}
/* when image count is 2 */
.post-gallery-images.img-count-2 .post-gallery-image:nth-child(2) {
    grid-area: span 2 / span 7;
}
/* when image count is 3 */
.post-gallery-images.img-count-3 .post-gallery-image:nth-child(2) {
    grid-area: span 2 / span 3;
}
.post-gallery-images.img-count-3 .post-gallery-image:nth-child(3){
    grid-area: span 2 / span 4;
}
/* when image count is 4 */
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(2),
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(4) {
    grid-area: span 1 / span 3;
}
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(3){
    grid-area: span 2 / span 4;
}
/* when image count is 5 */
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(2) {
    grid-area: span 2 / span 3;
}
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(3),
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(5){
    grid-area: span 1 / span 2;
}
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(4) {
    grid-area: span 2 / span 2;
}
/* when image count is 6 */
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(2),
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(5) {
    grid-area: span 1 / span 3;
}
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(3) {
    grid-area: span 2 / span 2;
}
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(4),
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(6) {
    grid-area: span 1 / span 2;
}
/* when image count is 7 */
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(4){
    grid-area: span 2 / span 3;
}
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(5),
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(6),
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(7) {
    grid-area: span 1 / span 2;
}
.social-link {
  position: relative;
}

.copy-toast-inline {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: #ffffff;
  color: #000000;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
 
.copy-toast-inline.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
.copy-toast-inline::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #111;
}
@media (max-width: 1280px){
    .post-gallery-images {
        grid-auto-rows: minmax(180px, auto);
    }
}
@media (max-width: 1023px){
    .post-gallery-images {
        grid-auto-rows: minmax(160px, auto);
    }
}
@media (max-width: 767px){
    .gh-content > *{
        font-size: 14px;
    }
    .gh-content > * + * {
        margin-top: 1.1rem;
    }
    .gh-content > [id]:not(:first-child) {
        margin-top: 1.9rem;
    }

    .gh-content h1,
    .gh-content h2:not(h4, .card-title) {
        font-size: 2.2rem;
    }

    .gh-content h3 {
        font-size: 1.5rem;
    }

    .gh-content h4 {
        font-size: 1.5rem;
    }

    .gh-content h5 {
        font-size: 1.3rem;
    }

    .gh-content h6 {
        font-size: 1rem;
    }
    .article-post-slider .swiper-pagination.post-slider-pagination {
        position: unset;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        gap: 5px;
        padding: 0 20px 15px 20px;
    }
    .swiper-pagination.post-slider-pagination .swiper-pagination-bullet-active {
        width: 28px;
        height: 7px;
    }
    .gh-post-upgrade-cta-content h2{
        font-size: 1.2rem!important;
    }
}
@media (max-width: 575px){

/* when image count is 3 */
.post-gallery-images.img-count-3 .post-gallery-image:nth-child(2) {
    grid-area: span 2 / span 7;
}
.post-gallery-images.img-count-3 .post-gallery-image:nth-child(3){
    grid-area: span 2 / span 7;
}
/* when image count is 4 */
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(2),
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(3) {
    grid-area: span 1 / span 7;
}
.post-gallery-images.img-count-4 .post-gallery-image:nth-child(4){
    grid-area: span 2 / span 7;
}
/* when image count is 5 */
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(2) {
    grid-area: span 2 / span 7;
}
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(3),
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(5){
    grid-area: span 1 / span 3;
}
.post-gallery-images.img-count-5 .post-gallery-image:nth-child(4) {
    grid-area: span 2 / span 4;
}
/* when image count is 6 */
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(2),
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(3) {
    grid-area: span 1 / span 7;
}
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(4) {
    grid-area: span 2 / span 4;
}
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(5),
.post-gallery-images.img-count-6 .post-gallery-image:nth-child(6) {
    grid-area: span 1 / span 3;
}
/* when image count is 7 */
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(2){
    grid-area: span 1 / span 3;
}
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(3){
    grid-area: span 1 / span 4;
}
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(4){
    grid-area: span 2 / span 7;
}
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(5) {
    grid-area: span 2 / span 4;
}
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(6),
.post-gallery-images.img-count-7 .post-gallery-image:nth-child(7){
    grid-area: span 1 / span 3;
}
}