@import "tailwindcss";

@theme {
  --color-primary-text: #000000;
  --color-primary-bg: #ffffff;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-secondary-text: #000000;
  --color-secondary-bg: #f6f6f6;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-accent-bg: var(--theme-accent-color);
  --color-accent-border: color-mix(in srgb, var(--color-accent-bg) 100%, white 30%);
  --color-primary-border: #DDDDDD;
  --color-secondary-border: #EBEBEB;
  --color-tertiary-border: #000000;
  --color-tertiary-text: #000000;
}

:root {
  --theme-accent-color: var(--ghost-accent-color);
  --preview-font-heading: var(--gh-font-heading, var(--gh-font-body));
  --preview-font-body: var(--gh-font-body);
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
}

*,
:focus,
:hover {
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  box-shadow: none;
}

:is(a, button, summary):focus-visible {
  outline: 2px solid var(--theme-accent-color) !important;
  outline-offset: 2px;
  transition: unset !important;
}

.focus-inside {
  outline-offset: -2px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--preview-font-heading);
}

body,
p {
  font-family: var(--preview-font-body);
}

*,
:focus,
:hover {
  outline: 0;
  scrollbar-width: thin;
  scrollbar-color: #ddd transparent;
  -webkit-tap-highlight-color: transparent;
}

.default {
  --color-primary-bg: #f7f7f7;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #000000;
  --color-secondary-bg: #ffffff;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #000000;
  --color-primary-border: #DDDDDD;
  --color-secondary-border: #EBEBEB;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: #fff;
  --color-tertiary-alt-bg: color-mix(in srgb, var(--gradient-tertiary-bg) 100%, black 3%);
}

.Homepage-2.default,
.page-homepage-layout-2.default {
  --color-primary-bg: #F4F3EA;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #000000;
  --color-secondary-bg: #F0EADA;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #000000;
  --color-primary-border: #e1dcab;
  --color-secondary-border: #D5D2C0;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.dark-trail {
  --color-primary-bg: #000000;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #ffffff;
  --color-secondary-bg: #0E0E0E;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #ffffff;
  --color-primary-border: #343435;
  --color-secondary-border: #343435;
  --color-tertiary-border: #252525;
  --color-tertiary-text: #ffffff;
  --gradient-tertiary-bg: #0E0E0E;
  --color-tertiary-alt-bg: #fff;
}

.desert-bloom {
  --color-primary-bg: #F9F4E3;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #7C2904;
  --color-secondary-bg: #FFFDF2;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #612709;
  --color-primary-border: #F2E9CC;
  --color-secondary-border: #F2E9CC;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.natural-escape {
  --color-primary-bg: #FFFFFF;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #202A39;
  --color-secondary-bg: #F9F9F9;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #000000;
  --color-primary-border: #E5E5E5;
  --color-secondary-border: #E5E5E5;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.aqua-marine {
  --color-primary-bg: #E6EFFF;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #253BAA;
  --color-secondary-bg: #FFFFFF;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #1A2D75;
  --color-primary-border: #DDDDDD;
  --color-secondary-border: #EBEBEB;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.urban-mist {
  --color-primary-bg: #E8E8E8;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #252525;
  --color-secondary-bg: #DCDCDC;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #252525;
  --color-primary-border: #C9C9C9;
  --color-secondary-border: #C9C9C9;
  --color-tertiary-border: #00000020;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.dark-amethyst {
  --color-primary-bg: #3C2E4D;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #ffffff;
  --color-secondary-bg: #2B1D3B;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, white 20%);
  --color-secondary-text: #ffffff;
  --color-primary-border: #644D7C;
  --color-secondary-border: #644D7C;
  --color-tertiary-border: #ffffff10;
  --color-tertiary-text: #ffffff;
  --gradient-tertiary-bg: #2B1D3B;
  --color-tertiary-alt-bg: #fff;
}

.mocha-dark {
  --color-primary-bg: #2A1E21;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #EFDFB4;
  --color-secondary-bg: #181214;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #EFDFB4;
  --color-primary-border: #453439;
  --color-secondary-border: #453439;
  --color-tertiary-border: #CDB6A6;
  --color-tertiary-text: #ffffff;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #9C5A2E 0.57%, #AE622D 22.36%, #BF6B2C 44.15%, #2A1E21 90.35%, #2A1E21 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.truffle-taupe {
  --color-primary-bg: #735B4E;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #ffffff;
  --color-secondary-bg: #59453A;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #ffffff;
  --color-primary-border: #8F7B70;
  --color-secondary-border: #8F7B70;
  --color-tertiary-border: #D5D2C0;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.almond-pink {
  --color-primary-bg: #F7EDEB;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #52102A;
  --color-secondary-bg: #FFFFFF;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #451226;
  --color-primary-border: #EBCDC8;
  --color-secondary-border: #EBCDC8;
  --color-tertiary-border: #EBD2D2;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: #F4E0DD;
  --color-tertiary-alt-bg: #fff;
}

.graphite-blue {
  --color-primary-bg: #293A47;
  --color-primary-alt-bg: color-mix(in srgb, var(--color-primary-bg) 100%, black 10%);
  --color-primary-text: #ffffff;
  --color-secondary-bg: #1C2D3A;
  --color-secondary-alt-bg: color-mix(in srgb, var(--color-secondary-bg) 100%, black 10%);
  --color-secondary-text: #ffffff;
  --color-primary-border: #5A636B;
  --color-secondary-border: #5A636B;
  --color-tertiary-border: #D5D2C0;
  --color-tertiary-text: #000000;
  --gradient-tertiary-bg: linear-gradient(276.04deg, #F4D4C2 0.57%, #F1EBD3 46.14%, #DCE2E0 82.07%, #D7DFE3 103.17%);
  --color-tertiary-alt-bg: #fff;
}

.color-theme-1 {
  background-color: #6A89A7;
  color: #ffffff;
}

.color-theme-2 {
  background-color: #BBB791;
  color: #ffffff;
}

.color-theme-3 {
  background-color: #a8dcabb8;
  color: #14741a;
}

.color-theme-4 {
  background-color: #CCCCFF;
  color: #4747a7;
}

.color-theme-5 {
  background-color: #F7D9BC;
  color: #705a45;
}

.color-theme-6 {
  background-color: #d1c397b8;
  color: #605942;
}

/* Ghost Koenig required classes */

.kg-width-wide {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.kg-width-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-primary-bg, #fff);
  color: var(--color-primary-text, #000000);
}

/* announcement bar animation */

#announcement-bar-root {
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height .5s ease, opacity .4s ease;
}

#announcement-bar-root .gh-announcement-bar {
  min-height: 40px;
  padding: 5px 15px;
  font-size: 12px;
  background-color: var(--theme-accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

button.button {
  background-color: var(--theme-accent-color);
}

.page-content h1 {
  font-size: 54px;
  font-weight: 700;
}

.page-content h2 {
  font-size: 38px;
  font-weight: 700;
}

.page-content h3 {
  font-size: 28px;
  font-weight: 700;
}

.page-content h4 {
  font-size: 22px;
  font-weight: 700;
}

.page-content h5 {
  font-size: 20px;
  font-weight: 700;
}

.page-content h6 {
  font-size: 18px;
  font-weight: 700;
}

.container {
  width: 100%;
  padding-inline: 15px;

  @media (width >=48rem) {
    max-width: 100%;
  }

  @media (width >=112rem) {
    max-width: 1730px;
  }

}

.container-sm {
  width: 100%;
  padding-inline: 15px;

  @media (width >=48rem) {
    max-width: 100%;
  }

  @media (width >=95rem) {
    max-width: 1552px;
  }


}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dark-trail .footer-logo,
.mocha-dark .footer-logo,
.mocha-dark:not(.Homepage-1, .page-homepage-layout-1) .header-main:not(.header-bg) .header-logo,
.mocha-dark.page-homepage-layout-2 .header-main:not(.header-bg) .header-logo,
.graphite-blue .footer-logo,
.truffle-taupe .footer-logo,
.dark-amethyst .footer-logo,
.dark-trail:not(.Homepage-1) .header-main:not(.header-bg) .site-header-logo,
.dark-trail.page-homepage-layout-2 .header-main:not(.header-bg) .site-header-logo,
.dark-amethyst.Homepage-2 .header-main:not(.header-bg) .header-logo,
.dark-amethyst.page-homepage-layout-2 .header-main:not(.header-bg) .header-logo {
  filter: brightness(0) invert(1);
}

.home-template.header-transparent .header-inner,
.header-transparent:has(.homepage-header-transparent) .header-inner {
  position: absolute;
  inset-inline: 0;
}

/* .header-inner {
    box-shadow: 0 15px 40px 5px rgba(132, 132, 133, 0.15);
} */

.Homepage-1.header-transparent:not(.page-homepage-layout-2) .nav-link {
  color: #000;
}

.Homepage-2 .header-bg,
.page-homepage-layout-2 .header-bg {
  background: #fff;
  color: #000;
}

.Homepage-1:not(.page-homepage-layout-2) .footer-inner,
.page-homepage-layout-1 .footer-inner {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.Homepage-2 .footer-inner {
  border-top: 1px solid var(--color-secondary-border);
}

.header-menu .nav {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 11;
  /* background: var(--color-primary-bg); */
  transition: .5s cubic-bezier(.6, 0, .4, 1);
}

.Homepage-1:not(.page-homepage-layout-2, .home-template) .header-sticky:not(.is-hidden) {
  top: 20px;
}

.header-sticky.is-hidden {
  top: calc(100% * -1);
  transition: .5s cubic-bezier(.6, 0, .4, 1);
}

.hero-content,
footer {
  --my-grid-cols: 1fr auto;
}

.featured-blog {
  --media-height: 640px;
}

.card-tags {
  display: flex;
  gap: .75rem;
}

.blog-posts {
  --media-width: 280px;
  --media-height: 680px;
}

.blog-posts-wrapper {
  grid-auto-rows: minmax(180px, 360px);
}

.recommended-post {
  --media-height: 390px;
}

.page-content>[id]+*,
.page-content .kg-card {
  margin-top: 20px;
}

.page-content .kg-card {
  border-radius: 20px;
  overflow: hidden;
}

.page-content .kg-card.kg-toggle-card {
  border-radius: 10px;
  overflow: hidden;
  background: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  box-shadow: none;
}

.page-content .kg-toggle-heading svg {
  color: currentColor;
}

.page-content .kg-card.kg-toggle-card[data-kg-toggle-state="open"] {
  background: var(--color-primary-text);
  color: var(--color-primary-bg);
}

.page-content>[id]:not(:first-child) {
  margin-top: 50px;
}

.page-content ul,
.page-content li+li,
.page-content p+p {
  margin-top: 20px;
}

blockquote {
  border-left: 3px solid var(--ghost-accent-color);
  font-style: italic;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.slide-equal-height .swiper-slide {
  height: auto;
}

/* trust icons */

.trust-icons-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.trust-icons-cards .kg-product-card-image {
  width: 56px;
  aspect-ratio: 1;
  justify-self: flex-start;
  background: #fff;
  border-radius: 100%;
}

.trust-icons-cards .kg-product-card .kg-product-card-container {
  padding: 50px 30px;
  border-radius: 25px;
  box-shadow: none;
  height: 100%;
  grid-row-gap: 28px;
}

.trust-icons-cards .kg-product-card:nth-child(4n + 1) .kg-product-card-container {
  background: #FEF0DE;
}

.trust-icons-cards .kg-product-card:nth-child(4n + 2) .kg-product-card-container {
  background: #E1F8F8;
}

.trust-icons-cards .kg-product-card:nth-child(4n + 3) .kg-product-card-container {
  background: #F2F3FF;
}

.trust-icons-cards .kg-product-card:nth-child(4n + 4) .kg-product-card-container {
  background: #E8FBDC;
}

.trust-icons-cards .kg-product-card .kg-product-card-title {
  font-size: 22px;
  font-weight: 700;
}

.trust-icons-cards .kg-product-card .kg-product-card-description * {
  font-size: 16px;
  /* font-family: var(--gh-font-body); */
  margin: 0 !important;
  color: #000;
}

/* trust icons */
.team-member-wrapper {
  gap: 24px;
}

.team-member-item {
  flex: 0 0 calc(25% - 18px);
}

.explore-tags-wrapper .explore-tags-item:nth-child(1) {
  transition-duration: .5s;
}

.explore-tags-wrapper .explore-tags-item:nth-child(2) {
  transition-duration: 1s;
}

.explore-tags-wrapper .explore-tags-item:nth-child(3) {
  transition-duration: 1.5s;
}

.explore-tags-wrapper .explore-tags-item:nth-child(4) {
  transition-duration: 2s;
}

.catagory-card:has(.catagory_image) .catagory-text-wrapper .catagory-text:last-child {
  color: #fff;
}

.writing-mode-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

input[type="color"] {
  -webkit-appearance: none;
  /* Removes default browser styling for WebKit/Blink browsers */
  appearance: none;
  /* Standard property */
  border: none;
  /* Removes the outer border of the input element */
  padding: 0;
  /* Removes any default padding */
  margin: 0;
  /* Removes any default margin (if present) */
  box-sizing: border-box;
  /* Ensures padding/border are included in element's total width/height */
}

/* Target the inner color swatch for WebKit/Blink browsers (Chrome, Safari, etc.) */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  /* Removes the padding around the swatch */
  border: none;
  /* Removes any border around the swatch wrapper */
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  /* Removes the border on the actual color preview swatch */
}

/* Target the inner color swatch for Firefox */
input[type="color"]::-moz-color-swatch {
  border: none;
  /* Removes the border on the actual color preview swatch */
  padding: 0;
  /* Removes any padding around the swatch */
}

.testimonial-section {
  overflow: hidden;
}

.testimonials-swiper:not(.swiper-initialized) .testimonials-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.swiper.testimonials-swiper {
  overflow: visible;
}

.testimonials-card .kg-product-card-container {
  border: none;
  box-shadow: none;
  padding: 35px;
  position: relative;
  gap: 25px;
  max-width: 100%;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--color-tertiary-alt-bg);
}

.testimonials-card .kg-product-card-rating {
  padding: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: start;
  color: #FFBA33;
  margin: 0;
}

.testimonials-card .kg-product-card-title-container {
  grid-column: 1 / 3;
}

.testimonials-card .kg-product-card-image {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 100%;
  grid-column: 1 / 2;
  justify-self: start;
  grid-row: 3 / 3;
}

.testimonials-card .kg-product-card-description {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  padding-left: 80px;
  align-self: center;
}

.testimonials-card .kg-product-card h4.kg-product-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

.testimonials-card .kg-product-card-description p {
  margin-top: 0 !important;
  color: #000;
  opacity: 1;
  font-size: 14px;
}

.testimonials-card .kg-product-card-description p:first-child {
  font-size: 18px;
}

.testimonial-slide {
  height: auto;
}

.testimonials-swiper .kg-product-card {
  height: 100%;
}

.toc-list-item+.toc-list-item {
  margin-top: 20px;

}

.toc-list-item:before {
  content: "";
  width: 8px;
  height: 8px;
  background: currentColor;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.toc-list-item {
  position: relative;
  transition: padding .5s ease-in-out;
  opacity: .5;
}

.toc-link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.toc-list-item.is-active-li {
  padding-left: 16px;
  opacity: 1;
}

.toc-list-item.is-active-li:before {
  opacity: 1;
}

.page-content .gh-post-upgrade-cta {
  max-width: 715px;
  margin: 0 auto;
}

.page-content .gh-post-upgrade-cta-content {
  border-radius: 20px;
  background: linear-gradient(90deg, #FF5BA2 0%, #D40961 100%) !important;
}

.page-content .gh-post-upgrade-cta-content .gh-btn {
  border-radius: 50px;
  color: #000 !important;
  min-height: 44px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 28px;
}

/* meet the team 2 end */

.team-member2-wrapper.team-member2-marquee-wrapper {
  display: flex;
}

.team-member2-marquee-wrapper .team-member2-marquee-items {
  display: flex;
  white-space: nowrap;
  width: max-content;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: marquee-left;
  animation-duration: 30s;
}

.team-member2-marquee-wrapper .team-member2-marquee-items .team-member2-item {
  width: 320px;
  margin-right: 22px;
}

@keyframes marquee-left {
  0% {
    transform: none;
    visibility: visible;
  }

  100% {
    transform: translateX(-100%);
  }
}

/* meet the team 2 css end */

.show-less-btn:not(.hidden) {
  gap: 6px;
  display: flex;
}

.catagory-text-block {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

/* contact page css start */

.contact-page .kg-width-full .kg-header-card-text {
  padding: 60px 16px;
  min-height: 330px;
}

.contact-page .kg-header-card.kg-width-full h2.kg-header-card-heading {
  font-size: 54px;
}

.contact-page .kg-header-card.kg-width-full .kg-header-card-subheading:not(.kg-layout-split .kg-header-card-subheading) {
  max-width: min(65vmax, 650px);
  font-size: clamp(14px, 2vw, 16px);
  margin-top: 20px;
  line-height: 1.5;
}

/* contact page css end */

@media (min-width:768px) {
  .hero-banner {
    position: sticky;
    top: 0;
    z-index: 0;
    isolation: isolate;
  }

  .team-member-item {
    flex: 0 0 calc(33.333% - 18px);
  }

  .team-member2-wrapper:not(.team-member2-marquee-wrapper) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
  }

  .team-member2-item-name:not(:has(.team-member2-item-location)) {
    transform: translateY(-14px);
  }

  .team-member2-item:hover .team-member2-item-name:not(:has(.team-member2-item-location)) {
    transform: translateY(0px);
  }
}

@media (min-width:1025px) {
  .trust-icons-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .team-member-wrapper.team-member-animate .team-member-item {
    flex: 0.85;
    border-radius: 130px;
    height: 430px;
  }

  .team-member-item {
    flex: 0 0 calc(25% - 18px);
  }

  .team-member-wrapper.team-member-animate .team-member-item.active,
  .team-member-wrapper.team-member-animate .team-member-item:hover {
    flex: 2;
    border-radius: 1.5em;
  }
}

@media (max-width:1023px) {
  .header-utils-burger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    transition: transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1);
  }

  .Homepage-2 .header-utils-burger span,
  .page-homepage-layout-2 .header-utils-burger span {
    background: currentColor;
  }

  .header-utils-burger span:nth-child(1) {
    top: 0;
  }

  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(2) {
    width: 100%;
    margin: 0;
  }

  .header-utils-burger span:nth-child(2) {
    width: 14px;
    margin-left: 6px;
  }

  .header-utils-burger span:nth-child(3) {
    top: 100%;
  }

  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(1),
  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(3),
  .header-utils-burger span:nth-child(2) {
    top: 50%;
  }

  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(1),
  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(2) {
    transform: rotate(45deg);
  }

  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .header-main:has(.mobile-header-menu.is-open) .header-utils-burger span {
    transition-delay: .3s, 0s;
  }

  .mobile-header-menu {
    background: #fff;
    color: #000;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    top: calc(var(--announcement-height) + var(--header-height));
    z-index: 99999;
    overflow: hidden;
    overflow-y: auto;
    transition: transform .5s ease-in-out;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .Homepage-1:not(.page-homepage-layout-2) .mobile-header-menu,
  .page-homepage-layout-1 .mobile-header-menu {
    height: calc(100dvh - var(--announcement-height) - var(--header-height) - 40px);
    left: 0;
    right: 0;
    top: calc(var(--announcement-height) + var(--header-height) + 20px);
    width: 93%;
    z-index: 99999;
    transition: clip-path 0.4s ease-out;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    clip-path: inset(0% 0 100% 0);
  }

  .Homepage-2 .mobile-header-menu,
  .page-homepage-layout-2 .mobile-header-menu {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform .5s ease-in-out;
    height: calc(100dvh - var(--announcement-height) - var(--header-height));
  }

  body:has(.mobile-header-menu.is-open) {
    overflow: hidden;
  }

  .Homepage-1 .mobile-header-menu.is-open,
  .page-homepage-layout-1 .mobile-header-menu.is-open {
    clip-path: inset(0 0 0 0);
  }

  .Homepage-2 .mobile-header-menu.is-open,
  .page-homepage-layout-2 .mobile-header-menu.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: transform .5s ease-in-out;
  }

  .mobile-header-menu .nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .header-nav-close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
  }

  .Homepage-1:not(.page-homepage-layout-2) .header-main:has(.is-open-animation) .header-inner,
  .Homepage-1.page-homepage-layout-1:has(.is-open-animation) .header-inner {
    background: #fff;
    border-radius: 20px 20px 0 0;
    border-color: #fff;
  }

  /* .Homepage-1 .header-main .header-inner,
  .Homepage-1.page-homepage-layout-1 {
    overflow: hidden;
  } */

  .nav-item {
    width: 100%;
  }

  .mobile-header-menu ul {
    align-content: flex-start;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  .nav-item.has-dropdown ul {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
    border: 0;
    box-shadow: none;
    display: none;
  }

  .nav-item.has-dropdown.is-open ul {
    display: block;
  }

  .nav-item.has-dropdown ul li+li {
    margin-top: 12px;
  }

  .nav-item.has-dropdown ul li a {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .single-category-items .single-category-item:nth-child(2) .border-r {
      display: none;
    }
  }

@media (max-width:767px) {
  .page-content h1 {
    font-size: 28px;
    font-weight: 700;
  }

  .page-content h2 {
    font-size: 24px;
    font-weight: 700;
  }

  .page-content h3 {
    font-size: 22px;
    font-weight: 700;
  }

  .page-content h4 {
    font-size: 20px;
    font-weight: 700;
  }

  .page-content h5 {
    font-size: 18px;
    font-weight: 700;
  }

  .page-content h6 {
    font-size: 16px;
    font-weight: 700;
  }

  .page-content p {
    font-size: 14px;
  }

  .trust-icons-cards {
    grid-template-columns: 1fr;
  }

  .mobile-swipe {
    display: grid;
    overflow-x: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    scrollbar-width: none;
    grid-auto-flow: column;
    grid-auto-columns: minmax(85%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(85%, 1fr));
    gap: var(--columnGap, 10px);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    margin-right: -15px;
    padding-right: 15px;
  }

  .floating-images-wrapper.mobile-swipe {
    margin-right: 0px;
    padding-right: 0px;
  }

  .mobile-swipe.mobile-column-2 {
    grid-auto-columns: minmax(48%, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  }

  .trust-icons-cards .kg-product-card .kg-product-card-container {
    padding: 25px;
    grid-row-gap: 25px;
  }

  .trust-icons-cards .kg-product-card .kg-product-card-title {
    font-size: 20px;
  }

  .trust-icons-cards .kg-product-card .kg-product-card-description * {
    font-size: 14px;
  }

  .team-member-wrapper .author-profile-social-link svg {
    width: 14px;
    height: 14px;
  }

  .testimonials-card .kg-product-card-container {
    padding: 25px;
  }

  .testimonials-card .kg-product-card h4.kg-product-card-title {
    font-size: 14px;
  }

  .testimonials-card .kg-product-card-description p:first-child {
    font-size: 16px;
  }

  .Homepage-1:not(.page-homepage-layout-2) .footer-inner,
  .page-homepage-layout-1 .footer-inner {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .contact-page .kg-width-full .kg-header-card-text {
    padding: 40px 16px;
    min-height: 200px;
  }

  .contact-page .kg-header-card.kg-width-full h2.kg-header-card-heading {
    font-size: 28px;
  }
}

[data-members-error],
[data-members-success] {
    display: none;
}

form.success [data-members-success] {
    display: block;
}

form.error [data-members-error] {
    display: block;
}