@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@import "./content.css";

@theme {
  --color-heading: #000000;
  --color-text: #50585C;
  --color-main: #E7E8E9;
  --color-alternate: #ffffff;
  --color-border: #C4C5C6;
  --color-border-light: color-mix(in srgb, var(--color-border) 50%, white 50%);
  --color-accent-text: #fff;
  --color-accent: var(--ghost-accent-color);
  --color-accent-border: color-mix(in srgb, var(--color-accent-bg) 100%, white 30%);
  --font-heading: var(--gh-font-heading, "Manrope Variable", sans-serif);
  --font-button: var(--gh-font-heading, "Manrope Variable", sans-serif);
  --font-body: var(--gh-font-body, "Instrument Sans", sans-serif);
}

[data-theme="dark"] {
  --color-heading: #ffffff;
  --color-text: #A4A4A4;
  --color-main: #0B0B0B;
  --color-alternate: #000000;
  --color-border: #333333;
  --color-border-light: color-mix(in srgb, var(--color-border) 50%, transparent 50%);
  --color-accent-text: #fff;
  --color-accent: var(--ghost-accent-color);
  --color-accent-border: color-mix(in srgb, var(--color-accent-bg) 100%, black 30%);
}

:root {
  --font-heading: var(--gh-font-heading, "Manrope Variable", sans-serif);
  --font-button: var(--gh-font-heading, "Manrope Variable", sans-serif);
  --font-body: var(--gh-font-body, "Instrument Sans", sans-serif);
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  width: 100%;
  color: var(--color-text);
  line-height: 1.7;
  font-family: var(--font-body);
  font-weight: 500;
  --header-height: 70px;
}body.has-overlay {
  position: relative;
}
body.has-overlay:after{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0,0,0,0.5);
}
p {
  line-height: 1.6;
}

h1,h2 {
  line-height: 1.2;
}

h3,h4 {
  line-height: 1.3;
}

h5,h6 {
  line-height: 1.4
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 700;

}

.container,
.container-sm {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 15px;
}

.container{
  --page-width: 1340px;
}

.container-sm {
 --page-width: 1240px;
}

.header-sticky {
  position: sticky;
  z-index: 9;
  transition: 0.3s ease;
}

.fixed-layout:not(.fixed-sticky) {
  padding-block-start: 20px;
}

.background-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: -1;
  box-shadow: 0px 8px 22px 0px#261E532B;
  transition: transform 0.6s ease;
}

.fixed-sticky .background-layer,
.fixed-layout .background-layer {
  border-radius: 10px;
  max-width: calc(100% - 30px);
}

.header-sticky.is-sticky {
  padding-top: 0;
}

.header-sticky.is-sticky .background-layer {
  transform: scaleX(1.5);
}

.fixed-sticky.is-sticky .mobile-header-menu {
  top: calc(var(--announcement-height, 0px) + var(--header-height) - 20px);
}
/* .fullwidth-sticky.is-sticky .mobile-header-menu {
  top: calc(var(--announcement-height, 0px) + var(--header-height));
} */
.header-sticky.is-sticky  .header-inner {
    padding-inline-start: 0;
    padding-inline-end: 0;
}

.fixed-sticky .header-inner,
.fixed-layout .header-inner {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  transition: .2s ease;
}


[data-theme="dark"] .light-logo-image,
[data-theme="light"] .dark-logo-image {
  opacity: 0;
}

[data-theme="dark"] .dark-logo-image {
  opacity: 1;
}

.swiper-fade .thumbs-swiper-wrapper .swiper-slide {
  pointer-events: auto !important;
}

.thumbs-swiper .swiper-slide-thumb-active .thumb-card {
  border: 1px solid var(--color-border) !important;
  padding: 6px !important;
}

.main-swiper:has(.navigation-wrapper) .slide-content {
  padding-bottom: 250px;
  padding-top: 60px;
}

.main-swiper:not(:has(.navigation-wrapper)) .featured-slider-card {
  align-items: center;
}

.overlaylink {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.button {
  background: var(--color-accent);
  color: var(--color-accent-text);
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-width: 120px;
  padding: 4px 12px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button.button-large {
  min-height: 46px;
  min-width: 130px;
  padding-inline: 20px;
}

.button-outline {
  background: transparent;
  color: var(--color-heading);
  border: 1px solid var(--color-heading);
}

.button-text-inner{
  display: block;
  transition: .3s ease;
}

.button-text-inner.bottom-text{
  display: flex;
  position: absolute;
  left: 0;
  bottom: -100%;
  z-index: 2;
}
.button:hover .button-text-inner.top-text  {
  transform: translateY(-130%);
}
.button:hover .button-text-inner.bottom-text {
  bottom: 0;
}
.filter-tab-btn.active {
  background-color: var(--color-accent);
  color: var(--color-accent-text);
  border-color: var(--color-accent);
}

.tag-posts-list>.mt-7:only-of-type .tag-post-title {
  display: none;
}

.social-link {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-alternate);
  color: var(--color-heading);
  border-radius: 8px;
  box-shadow: 0px 4px 15px 0px #1820531A;
}
[data-theme="dark"] .social-link{
    box-shadow: 0px 4px 9px 0px #25252569;
}
.social-link svg {
  width: 20px;
  height: 20px;
}
.social-link:hover {
    color: var(--color-accent);
    transform: scale(0.9);
}

.recommended-posts .card.active{
  flex: 1.3;
}
.recommended-posts .card.active .recommended-post-card{
  opacity: 1;
}
/* Initial state (hidden completely) */
.progressive-load.lazyload {
  opacity: 0;
}

/* After load → blurred visible */
.progressive-load.lazyloaded {
  opacity: 1;
  filter: blur(10px);
  transform: scale(1.05);
}

/* After scroll reveal */
.progressive-load.is-visible {
  filter: blur(0);
  transform: scale(1);
  transition: all 0.5s ease;
}

[data-members-error],
[data-members-success] {
    display: none;
}

form.success [data-members-success] {
    display: block;
}

form.error [data-members-error] {
    display: block;
}

div[data-testid="comment-elements"] {
    background: var(--color-main);
    border-radius: 20px;
    padding: 20px;
}
.article-card .author-group img {
 border-color: var(--color-alternate);
}
.author-group img:nth-child(1) {
  z-index: 5;
}

.author-group img:nth-child(2) {
  z-index: 4;
}

.author-group img:nth-child(3) {
  z-index: 3;
}

.author-group img:nth-child(4) {
  z-index: 2;
}
.author-group img:nth-child(5) {
  z-index: 1;
}
.featured-post-img:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
    pointer-events: none;
}
.featured-post-img:hover:after {
  height: 250%;
  background-color: transparent;
  transition: 600ms linear;
}
/* media query start */
@media (min-width: 1441px) {
  .container{
    --page-width: 1580px;
  }
  .container-sm {
  --page-width: 1240px;
  }

}
@media (min-width: 768px){
  .fixed-sticky .header-inner,
  .fixed-layout .header-inner {
    padding-inline-start: 20px;
    padding-inline-end: 5px;
  }
}
@media (max-width: 1280px) {
  .main-swiper:has(.navigation-wrapper) .slide-content {
      padding-bottom: 180px;
  }
}
@media (max-width: 1199px) {
 .main-swiper:has(.navigation-wrapper) .slide-content {
    padding-top: 0px;padding-bottom: 0px;
  }
}
@media (max-width: 1023px) {
  .mobile-swipe {
    --column-width-mobile:  47.5vw;
      overflow-y: hidden;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      overscroll-behavior-x: contain;
      scroll-behavior: smooth;
      padding-inline: 15px;
      margin-inline: -15px;
      scroll-padding-inline: 15px;
      scrollbar-width: none;
      display: grid !important;
  }
  .mobile-swipe-inner {
      display: grid;
      grid: auto / auto-flow var(--column-width-mobile);
  }
  .mobile-swipe-cols-2 {
    --column-width-mobile: 20vw;
  }
}
@media (max-width: 767px) {
  .thumbs-swiper .swiper-slide-thumb-active .thumb-card {
      padding: 4px !important;
  }
  .mobile-swipe {
      --column-width-mobile: 90vw;
  }
  .mobile-swipe-cols-2 {
    --column-width-mobile: 37vw;
  }
  /* mobile menu design start */
  .mobile-header-menu {
    background: var(--color-alternate);
    color: var(--color-heading);
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    transition: transform .5s ease-in-out;
    display: grid;
    grid-template-rows: 1fr auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: calc(100dvh - var(--announcement-height, 0px) - var(--header-height) - 60px);
    left: 0;
    right: 0;
    top: calc(var(--announcement-height, 0px) + var(--header-height));
    z-index: 99999;
    transition: clip-path 0.4s ease-out;
    clip-path: inset(0% 0 100% 0);
  }
  .header:not(.is-sticky) .mobile-header-menu {
    max-width: calc(100% - 30px);
  }
  body:has(.mobile-header-menu.is-open) {
    overflow: hidden;
  }

  .mobile-header-menu.is-open{
    clip-path: inset(0 0 0 0);
  }

  .header-nav-close {
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0;
    visibility: hidden;
  }

  .header-utils-burger span {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
  }
  .has-overlay .header-utils-burger span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .has-overlay .header-utils-burger span:nth-child(2) {
    opacity: 0;
  }
  .has-overlay .header-utils-burger span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }

  .header:has(.is-open-animation) .header-inner {
    background: var(--color-alternate);
    border-radius: 20px 20px 0 0;
    border-color: var(--color-alternate);
  }
  .mobile-header-menu ul,
  .nav-menu-item {
    width: 100%;
  }
  .nav-menu-link {
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  .nav-menu-item.has-dropdown .dropdown {
    opacity: 1;
    visibility: visible;
    background-color: var(--color-alternate);
    width: 100%;
    color: var(--color-heading);
    box-shadow: none;
    border: 0;
    border-radius: 0px;
    margin: 0;
    display: none;
    position: relative;
    top: 0;
  }
  .nav-menu-item.has-dropdown.is-open .dropdown {
    display: block;
  }

}
@media (max-width: 639px){
    .subscribe-button{
    width: 100%;
  }
}